@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
.promo__job, .promo__where, .promo__distance, .promo__button {
  height: 22px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

button {
  cursor: pointer;
}

button a {
  display: inline-block;
  width: 100%;
}

@media (max-width: 1140px) {
  .app .header {
    height: 54px;
  }
}

@media (max-width: 600px) {
  .app .promo__form {
    max-width: 365px;
    height: 200px;
  }
}

@media (max-width: 1075px) {
  .app .candidates,
  .app .headhunters {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .app .candidates .candidates__title,
  .app .candidates .headhunters__title,
  .app .headhunters .candidates__title,
  .app .headhunters .headhunters__title {
    margin-top: 50px;
  }
  .app .candidates .candidates__text-groups,
  .app .candidates .headhunters__text-groups,
  .app .headhunters .candidates__text-groups,
  .app .headhunters .headhunters__text-groups {
    margin-right: 0;
  }
}

@media (max-width: 524px) {
  .app .candidates__text-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .candidates__img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1075px) {
  .app .employers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .employers__title {
    margin-top: 50px;
  }
  .app .employers__text-groups {
    margin-right: 0;
  }
  .app .employers__img {
    margin-top: 50px;
  }
  .app .employers__text-btn {
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .app .employers,
  .app .candidates {
    padding: 30px;
  }
}

@media (max-width: 524px) {
  .app .employers__text-groups,
  .app .headhunters__text-groups,
  .app .cookies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .employers__img,
  .app .headhunters__img {
    width: 300px;
    height: 300px;
    margin-top: 0;
  }
}

.header {
  height: 72px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1360px) {
  .header .nav {
    width: 1088px;
  }
}

@media (max-width: 1140px) {
  .header .nav {
    width: 950px;
  }
}

@media (max-width: 885px) {
  .header .nav {
    width: 600px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav .nav__list {
    width: 400px;
  }
  .header .nav .nav__wrap {
    width: 600px;
  }
}

@media (max-width: 549px) {
  .header .nav {
    width: 350px;
  }
}

.nav {
  width: 80%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__list .nav__link {
  color: #999999;
}

.nav .nav__list .nav__link:hover {
  border-bottom: 2px solid #2e1aad;
  color: #2e1aad;
}

.nav .nav__list .nav__logo {
  width: 124px;
}

@media (max-width: 1140px) {
  .nav .nav__link,
  .nav .nav__employers,
  .nav .nav__headhunters {
    padding: 15px;
  }
}

.nav .nav__wrap {
  width: 50%;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1140px) {
  .nav .nav__wrap {
    width: 58%;
  }
}

@media (max-width: 549px) {
  .nav .nav__list {
    width: 300px;
  }
  .nav .nav__list .nav__logo {
    width: 81px;
  }
  .nav .nav__wrap {
    width: 375px;
  }
  .nav .nav__employers,
  .nav .nav__headhunters {
    padding: 5px;
  }
}

@media (max-width: 885px) {
  .nav .nav__link:hover,
  .nav .nav__employers:hover,
  .nav .nav__headhunters:hover {
    border-bottom: 0 !important;
  }
}

.nav__link,
.nav__employers,
.nav__headhunters {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  height: 100%;
  border-bottom: 2px solid transparent;
  padding: 25px;
}

.nav__for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__for .nav__employers,
.nav__for .nav__headhunters {
  color: #999999;
}

.nav__for .nav__employers:hover,
.nav__for .nav__headhunters:hover {
  border-bottom: 2px solid #2e1aad;
  color: #2e1aad;
}

.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__btns .nav__login,
.nav__btns .nav__signup {
  width: 100px;
  height: 40px;
  border-radius: 8px;
}

.nav__btns .nav__login .nav__login-link,
.nav__btns .nav__login .nav__signup-link,
.nav__btns .nav__signup .nav__login-link,
.nav__btns .nav__signup .nav__signup-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}

.nav__btns .nav__login {
  border: 2px solid #2e1aad;
  background-color: #fff;
  color: #2e1aad;
}

.nav__btns .nav__login .nav__login-link {
  color: #2e1aad;
}

.nav__btns .nav__signup {
  background-color: #2e1aad;
  border: 2px solid #2e1aad;
}

.nav__btns .nav__signup .nav__signup-link {
  color: #fff;
}

@media (max-width: 549px) {
  .nav__btns .nav__login,
  .nav__btns .nav__signup {
    width: 63px !important;
  }
}

.promo {
  padding: 100px;
  background-color: #f5f7fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo .promo__form {
  width: 1110px;
  height: 96px;
  margin-top: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1140px) {
  .promo .promo__form {
    margin-top: 50px;
    width: 942px;
    height: 75px;
  }
  .promo .promo__text {
    width: 355px;
  }
  .promo .promo__text-title {
    font-size: 36px;
    text-align: center;
  }
  .promo .promo__text-paragraph {
    font-size: 14px;
    color: #999999;
    width: 90%;
    text-align: center;
  }
  .promo .promo__img {
    width: 450px;
  }
}

@media (max-width: 984px) {
  .promo .promo__form {
    width: 600px;
    height: 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 810px) {
  .promo .promo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__wrap .promo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 546px;
}

.promo__wrap .promo__text .promo__text-title {
  font-weight: 800;
  font-size: 48px;
}

.promo__wrap .promo__text .promo__text-paragraph {
  font-size: 18px;
  color: #999999;
  width: 90%;
}

@media (max-width: 453px) {
  .promo__wrap .promo__img {
    width: 365px;
  }
}

@media (max-width: 1140px) {
  .promo__form .promo__job {
    width: 270px;
    height: 10px;
  }
  .promo__form .promo__where {
    width: 240px;
    height: 10px;
  }
  .promo__form .promo__distance {
    width: 180px;
    height: 40px;
    padding: 0 0 0 15px;
  }
  .promo__form .promo__button {
    height: 40px;
    padding: 0;
  }
}

.promo__job {
  width: 331px;
}

.promo__job::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__job:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__job::-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__job::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__where {
  width: 291px;
}

.promo__where::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__where:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__where::-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__where::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__distance {
  width: 237px;
  background-color: #fff;
  background-image: url(./img/caret.png);
  background-repeat: no-repeat;
  background-position-x: 203px;
  background-position-y: center;
  height: 54px;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo__button {
  width: 115px;
  height: 52px;
  background: #2e1aad;
  border: #2e1aad;
}

.promo__button .promo__button-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.candidates,
.employers,
.headhunters {
  margin: 100px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.candidates .candidates__title,
.candidates .employers__title,
.candidates .headhunters__title,
.employers .candidates__title,
.employers .employers__title,
.employers .headhunters__title,
.headhunters .candidates__title,
.headhunters .employers__title,
.headhunters .headhunters__title {
  color: #231f20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

.candidates .candidates__img,
.candidates .employers__img,
.candidates .headhunters__img,
.employers .candidates__img,
.employers .employers__img,
.employers .headhunters__img,
.headhunters .candidates__img,
.headhunters .employers__img,
.headhunters .headhunters__img {
  width: 400px;
  height: 400px;
}

.headhunters__text-groups,
.candidates__text-groups,
.employers__text-groups {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px;
      grid-template-columns: 245px 245px;
  gap: 30px;
  margin-right: 120px;
}

.employers__text-groups {
  margin: 0 0 0 120px;
}

.headhunters__text-group-header,
.candidates__text-group-header,
.employers__text-group-header {
  font-weight: bold;
  font-size: 18px;
  color: #231f20;
}

.headhunters__text-group-paragraph,
.candidates__text-group-paragraph,
.employers__text-group-paragraph {
  font-size: 16px;
  color: #999999;
  margin-top: 8px;
}

.employers__text-btn,
.headhunters__text-btn {
  border-radius: 8px;
  background-color: #2e1aad;
  width: 130px;
  height: 52px;
  margin-top: 30px;
}

.employers__text-btn .employers__text-link,
.employers__text-btn .headhunters__text-link,
.headhunters__text-btn .employers__text-link,
.headhunters__text-btn .headhunters__text-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.employers__text-btn,
.employers__title {
  margin-left: 120px;
}

.clients {
  background-color: #ecf8fe;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .clients__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients .clients__title {
  font-weight: 800;
  font-size: 40px;
  color: #231f20;
  margin-bottom: 8px;
}

.clients .clients__paragraph {
  font-size: 18px;
  color: #999999;
  margin-bottom: 56px;
}

.clients .clients__wrap-feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[3];
      grid-template-columns: repeat(3, 350px);
  gap: 30px;
}

.clients .clients__wrap-feedback .clients__review {
  background-color: #fff;
  height: 330px;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  padding: 40px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .clients__wrap-feedback .clients__review-text {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .clients__wrap-feedback .clients__img-stars {
  width: 65px;
}

.clients .clients__wrap-feedback .cliens__review-title {
  font-weight: 800;
  font-size: 20px;
  color: #231f20;
}

.clients .clients__wrap-feedback .clients__review-paragraph {
  font-size: 16px;
  color: #231f20;
}

.clients .clients__wrap-feedback .clients__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .clients__wrap-feedback .clients__author-data {
  margin-left: 12px;
}

.clients .clients__wrap-feedback .clients__author-name {
  font-size: 16px;
  color: #231f20;
}

.clients .clients__wrap-feedback .cliens__author-job {
  font-size: 14px;
  color: #999999;
}

@media (max-width: 1140px) {
  .clients .clients__wrap-feedback {
    gap: 10px;
  }
  .clients .clients__review {
    padding: 20px 20px 10px 20px;
    height: 300px;
    width: 280px;
  }
}

@media (max-width: 1074px) {
  .clients .clients__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients .clients__wrap-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clients .clients__controls {
  margin-top: 48px;
}

.clients .clients__wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1074px) {
  .clients .clients__title,
  .clients .clients__paragraph {
    text-align: center;
  }
}

.count {
  padding: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count .count__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.count .count__title {
  color: #231f20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 15px;
}

.count .count__paragraph {
  font-size: 18px;
  color: #999999;
}

.count .count__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count .count__square {
  width: 255px;
  height: 266px;
  padding: 30px;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f5f7fa;
  border-radius: 16px;
}

.count .count__square:not(:first-child) {
  margin-left: 30px;
}

.count .count__square .count__square-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: -30px;
}

.count .count__square .count__square-paragraph {
  font-size: 18px;
  color: #999999;
}

@media (max-width: 1380px) {
  .count .count__square {
    width: 220px;
  }
}

@media (max-width: 1224px) {
  .count .count__square {
    width: 200px;
  }
}

@media (max-width: 984px) {
  .count .count__squares {
    max-width: 600px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .count .count__squares .count__square:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 984px) {
  .count .count__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1140px) {
  .count .count__square {
    width: 160px;
    height: 200px;
  }
  .count .count__pic {
    width: 50%;
  }
  .count .count__square-title {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: -20px;
  }
  .count .count__square-paragraph {
    font-size: 14px;
    color: #999999;
  }
}

@media (max-width: 984px) {
  .count .count__title,
  .count .count__paragraph {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .count .count__squares {
    width: 500px;
  }
}

@media (max-width: 529px) {
  .count .count__squares {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 375px;
  }
}

.news {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news__wrap-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 55px;
}

.news .news__wrap-title .news__title {
  font-weight: 800;
  font-size: 40px;
  color: #231f20;
}

.news .news__link {
  font-weight: 700px;
  font-size: 14px;
  color: #999999;
  text-decoration: none;
}

.news .news__link .news__link-arrow {
  margin-left: 5px;
}

.news .news__ads {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  gap: 30px;
}

.news .news__ad-title,
.news .news__ad-paragraph {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
}

.news .news__ad-title {
  font-weight: 800;
  font-size: 20px;
  color: #231f20;
}

.news .news__ad-paragraph {
  font-size: 16px;
  color: #999999;
}

@media (max-width: 1124px) {
  .news .news__wrap-title {
    width: 814px;
  }
}

@media (max-width: 1124px) {
  .news .news__pic {
    width: 300px;
  }
  .news .news__ads {
    -ms-grid-columns: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px;
  }
}

@media (max-width: 810px) {
  .news .news__ads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .news__ad {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .news__wrap-title {
    width: 599px;
  }
}

@media (max-width: 600px) {
  .news .news__wrap-title {
    width: 365px;
  }
}

.cookies {
  padding: 30px;
  background-color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies .cookies__text {
  width: 524px;
  color: #231f20;
  font-size: 14px;
}

.cookies .cookies__text .cookies__title {
  font-weight: bold;
}

.cookies .cookies__btn {
  background-color: #231f20;
  border: #231f20;
  width: 112px;
  height: 40px;
  border-radius: 100px;
  margin-left: 45px;
}

.cookies .cookies__btn .cookies__btn-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 667px) {
  .cookies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cookies .cookies__btn {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 543px) {
  .cookies__text {
    width: 365px;
  }
}

.footer {
  padding: 65px;
  background-color: #0b0d17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1115px;
}

.footer .footer__wrap .footer__company-data,
.footer .footer__wrap .footer__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__wrap .footer__company-data a,
.footer .footer__wrap .footer__nav-block a {
  text-decoration: none;
}

.footer .footer__wrap .footer__copyright,
.footer .footer__wrap .footer__rights {
  color: #d9dbe1;
  font-size: 14px;
}

.footer .footer__wrap .footer__copyright {
  margin-bottom: 8px;
}

.footer .footer__wrap .footer__logo-link {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 40px;
}

.footer .footer__wrap .footer__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrap .footer__nav-link:not(:last-child) {
  margin-bottom: 12px;
}

.footer .footer__wrap .footer__nav-title {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.footer .footer__wrap .footer__nav-link {
  font-size: 16px;
  color: #d9dbe1;
}

.footer .footer__wrap .footer__jobs-block {
  margin-right: 200px;
}

@media (max-width: 1150px) {
  .footer .footer__wrap .footer__nav-wrap .footer__jobs-block {
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .footer .footer__wrap .footer__nav-wrap {
    width: 400px;
  }
}

@media (max-width: 1150px) {
  .footer .footer__wrap {
    width: 800px;
  }
}

@media (max-width: 826px) {
  .footer .footer__wrap {
    padding: 20px;
    width: 500px;
  }
}

@media (max-width: 826px) {
  .footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 453px) {
  .footer .footer__wrap {
    width: 375px;
    padding: 0;
  }
  .footer .footer__nav-wrap {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 390px;
  }
}
/*# sourceMappingURL=index.css.map */