@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
$header-text-color: #999999;
$company-blue: #2e1aad;
$company-dark: #231f20;
%form-styles {
    height: 22px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}
button {
    cursor: pointer;
}
button a {
    display: inline-block;
    width: 100%;
}
.app {
    @media (max-width: 1140px) {
        .header {
            height: 54px;
        }
    }
    @media (max-width: 600px) {
        .promo__form {
            max-width: 365px;
            height: 200px;
        }
    }
    @media (max-width: 1075px) {
        .candidates,
        .headhunters {
            padding: 30px;
            flex-direction: column-reverse;
            .candidates__title,
            .headhunters__title {
                margin-top: 50px;
            }
            .candidates__text-groups,
            .headhunters__text-groups {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 524px) {
        .candidates__text-groups {
            display: flex;
            flex-direction: column;
        }
        .candidates__img {
            width: 300px;
            height: 300px;
        }
    }
    @media (max-width: 1075px) {
        .employers {
            flex-direction: column;
        }
        .employers__title {
            margin-top: 50px;
        }
        .employers__text-groups {
            margin-right: 0;
        }
        .employers__img {
            margin-top: 50px;
        }
        .employers__text-btn {
            margin-left: 0;
        }
    }
    @media (max-width: 990px) {
        .employers,
        .candidates {
            padding: 30px;
        }
    }
    @media (max-width: 524px) {
        .employers__text-groups,
        .headhunters__text-groups,
        .cookies {
            display: flex;
            flex-direction: column;
        }
        .employers__img,
        .headhunters__img {
            width: 300px;
            height: 300px;
            margin-top: 0;
        }
    }
}
.header {
    height: 72px;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1360px) {
        .nav {
            width: 1088px;
        }
    }
    @media (max-width: 1140px) {
        .nav {
            width: 950px;
        }
    }
    @media (max-width: 885px) {
        .nav {
            width: 600px;
            flex-wrap: wrap;
            justify-content: center;
            .nav__list {
                width: 400px;
            }
            .nav__wrap {
                width: 600px;
            }
        }
    }
    @media (max-width: 549px) {
        .nav {
            width: 350px;
        }
    }
}
.nav {
    width: 80%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__list {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__link {
            color: $header-text-color;
        }
        .nav__link:hover {
            border-bottom: 2px solid $company-blue;
            color: $company-blue;
        }
        .nav__logo {
            width: 124px;
        }
    }

    @media (max-width: 1140px) {
        .nav__link,
        .nav__employers,
        .nav__headhunters {
            padding: 15px;
        }
    }
    .nav__wrap {
        width: 50%;
        max-width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 1140px) {
        .nav__wrap {
            width: 58%;
        }
    }
    @media (max-width: 549px) {
        .nav__list {
            width: 300px;
            .nav__logo {
                width: 81px;
            }
        }
        .nav__wrap {
            width: 375px;
        }
        .nav__employers,
        .nav__headhunters {
            padding: 5px;
        }
    }
    @media (max-width: 885px) {
        .nav__link:hover,
        .nav__employers:hover,
        .nav__headhunters:hover {
            border-bottom: 0 !important;
        }
    }
}
.nav__link,
.nav__employers,
.nav__headhunters {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid transparent;
    padding: 25px;
}
.nav__for {
    display: flex;
    justify-content: space-between;
    .nav__employers,
    .nav__headhunters {
        color: $header-text-color;
        &:hover {
            border-bottom: 2px solid $company-blue;
            color: $company-blue;
        }
    }
}
.nav__btns {
    display: flex;
    width: 40%;
    justify-content: space-between;
    .nav__login,
    .nav__signup {
        width: 100px;
        height: 40px;
        border-radius: 8px;
        .nav__login-link,
        .nav__signup-link {
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            display: inline-block;
            width: 100%;
        }
    }
    .nav__login {
        border: 2px solid $company-blue;
        background-color: #fff;
        color: $company-blue;
        .nav__login-link {
            color: $company-blue;
        }
    }
    .nav__signup {
        background-color: $company-blue;
        border: 2px solid $company-blue;
        .nav__signup-link {
            color: #fff;
        }
    }
    @media (max-width: 549px) {
        .nav__login,
        .nav__signup {
            width: 63px !important;
        }
    }
}
.promo {
    padding: 100px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .promo__form {
        width: 1110px;
        height: 96px;
        margin-top: 50px;
        background-color: #fff;
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    @media (max-width: 1140px) {
        .promo__form {
            margin-top: 50px;
            width: 942px;
            height: 75px;
        }
        .promo__text {
            width: 355px;
        }
        .promo__text-title {
            font-size: 36px;
            text-align: center;
        }
        .promo__text-paragraph {
            font-size: 14px;
            color: $header-text-color;
            width: 90%;
            text-align: center;
        }
        .promo__img {
            width: 450px;
        }
    }
    @media (max-width: 984px) {
        .promo__form {
            width: 600px;
            height: 150px;
            flex-wrap: wrap;
        }
    }
    @media (max-width: 810px) {
        .promo__wrap {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}
.promo__wrap {
    display: flex;
    .promo__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 546px;
        .promo__text-title {
            font-weight: 800;
            font-size: 48px;
        }
        .promo__text-paragraph {
            font-size: 18px;
            color: $header-text-color;
            width: 90%;
        }
    }
    @media (max-width: 453px) {
        .promo__img {
            width: 365px;
        }
    }
}
.promo__form {
    @media (max-width: 1140px) {
        .promo__job {
            width: 270px;
            height: 10px;
        }
        .promo__where {
            width: 240px;
            height: 10px;
        }
        .promo__distance {
            width: 180px;
            height: 40px;
            padding: 0 0 0 15px;
        }
        .promo__button {
            height: 40px;
            padding: 0;
        }
    }
}
.promo__job {
    width: 331px;
    @extend %form-styles;
    &::placeholder {
        color: $header-text-color;
        font-size: 16px;
        font-weight: 800;
    }
}
.promo__where {
    width: 291px;
    @extend %form-styles;
    &::placeholder {
        color: $header-text-color;
        font-size: 16px;
        font-weight: 800;
    }
}
.promo__distance {
    width: 237px;
    @extend %form-styles;
    background-color: #fff;
    background-image: url(./img/caret.png);
    background-repeat: no-repeat;
    background-position-x: 203px;
    background-position-y: center;
    height: 54px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $header-text-color;
    font-size: 16px;
    font-weight: 800;
}
.promo__button {
    width: 115px;
    height: 52px;
    @extend %form-styles;
    background: $company-blue;
    border: $company-blue;
    .promo__button-link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
}
.candidates,
.employers,
.headhunters {
    margin: 100px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .candidates__title,
    .employers__title,
    .headhunters__title {
        color: $company-dark;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 40px;
    }
    .candidates__img,
    .employers__img,
    .headhunters__img {
        width: 400px;
        height: 400px;
    }
}
.headhunters__text-groups,
.candidates__text-groups,
.employers__text-groups {
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 30px;
    margin-right: 120px;
}
.employers__text-groups {
    margin: 0 0 0 120px;
}
.headhunters__text-group-header,
.candidates__text-group-header,
.employers__text-group-header {
    font-weight: bold;
    font-size: 18px;
    color: $company-dark;
}
.headhunters__text-group-paragraph,
.candidates__text-group-paragraph,
.employers__text-group-paragraph {
    font-size: 16px;
    color: $header-text-color;
    margin-top: 8px;
}
.employers__text-btn,
.headhunters__text-btn {
    border-radius: 8px;
    background-color: $company-blue;
    width: 130px;
    height: 52px;
    margin-top: 30px;
    .employers__text-link,
    .headhunters__text-link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
}
.employers__text-btn,
.employers__title {
    margin-left: 120px;
}
.clients {
    background-color: #ecf8fe;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .clients__wrap {
        display: flex;
        flex-direction: column;
    }
    .clients__title {
        font-weight: 800;
        font-size: 40px;
        color: $company-dark;
        margin-bottom: 8px;
    }
    .clients__paragraph {
        font-size: 18px;
        color: $header-text-color;
        margin-bottom: 56px;
    }
    .clients__wrap-feedback {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
        .clients__review {
            background-color: #fff;
            height: 330px;
            box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
            border-radius: 8px;
            padding: 40px 40px 30px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .clients__review-text {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .clients__img-stars {
            width: 65px;
        }
        .cliens__review-title {
            font-weight: 800;
            font-size: 20px;
            color: $company-dark;
        }
        .clients__review-paragraph {
            font-size: 16px;
            color: $company-dark;
        }
        .clients__author {
            display: flex;
        }
        .clients__author-data {
            margin-left: 12px;
        }
        .clients__author-name {
            font-size: 16px;
            color: $company-dark;
        }
        .cliens__author-job {
            font-size: 14px;
            color: $header-text-color;
        }
    }
    @media (max-width: 1140px) {
        .clients__wrap-feedback {
            gap: 10px;
        }
        .clients__review {
            padding: 20px 20px 10px 20px;
            height: 300px;
            width: 280px;
        }
    }
    @media (max-width: 1074px) {
        .clients__wrap {
            align-items: center;
        }
        .clients__wrap-feedback {
            display: flex;
            flex-direction: column;
        }
    }
    .clients__controls {
        margin-top: 48px;
    }
    .clients__wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1074px) {
        .clients__title,
        .clients__paragraph {
            text-align: center;
        }
    }
}
.count {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .count__wrap {
        display: flex;
        flex-direction: column;
    }
    .count__title {
        color: $company-dark;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .count__paragraph {
        font-size: 18px;
        color: $header-text-color;
    }
    .count__squares {
        display: flex;
    }
    .count__square {
        width: 255px;
        height: 266px;
        padding: 30px;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #f5f7fa;
        border-radius: 16px;

        &:not(:first-child) {
            margin-left: 30px;
        }
        .count__square-title {
            font-weight: 800;
            font-size: 40px;
            margin-bottom: -30px;
        }
        .count__square-paragraph {
            font-size: 18px;
            color: $header-text-color;
        }
    }
    @media (max-width: 1380px) {
        .count__square {
            width: 220px;
        }
    }
    @media (max-width: 1224px) {
        .count__square {
            width: 200px;
        }
    }
    @media (max-width: 984px) {
        .count__squares {
            max-width: 600px;
            flex-wrap: wrap;
            justify-content: space-between;
            .count__square:not(:first-child) {
                margin-left: 0;
            }
        }
    }
    @media (max-width: 984px) {
        .count__wrap {
            align-items: center;
        }
    }
    @media (max-width: 1140px) {
        .count__square {
            width: 160px;
            height: 200px;
        }
        .count__pic {
            width: 50%;
        }
        .count__square-title {
            font-weight: 800;
            font-size: 30px;
            margin-bottom: -20px;
        }
        .count__square-paragraph {
            font-size: 14px;
            color: $header-text-color;
        }
    }
    @media (max-width: 984px) {
        .count__title,
        .count__paragraph {
            text-align: center;
        }
    }
    @media (max-width: 600px) {
        .count__squares {
            width: 500px;
        }
    }
    @media (max-width: 529px) {
        .count__squares {
            flex-direction: column;
            align-items: center;
            width: 375px;
        }
    }
}
.news {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .news__wrap {
        display: flex;
        flex-direction: column;
    }
    .news__wrap-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 55px;
        .news__title {
            font-weight: 800;
            font-size: 40px;
            color: $company-dark;
        }
    }
    .news__link {
        font-weight: 700px;
        font-size: 14px;
        color: $header-text-color;
        text-decoration: none;
        .news__link-arrow {
            margin-left: 5px;
        }
    }
    .news__ads {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 30px;
    }
    .news__ad-title,
    .news__ad-paragraph {
        margin-top: 20px;
        text-decoration: none;
        display: inline-block;
    }
    .news__ad-title {
        font-weight: 800;
        font-size: 20px;
        color: $company-dark;
    }
    .news__ad-paragraph {
        font-size: 16px;
        color: $header-text-color;
    }
    @media (max-width: 1124px) {
        .news__wrap-title {
            width: 814px;
        }
    }
    @media (max-width: 1124px) {
        .news__pic {
            width: 300px;
        }
        .news__ads {
            grid-template-columns: 250px 250px 250px;
        }
    }
    @media (max-width: 810px) {
        .news__ads {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .news__ad {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .news__wrap-title {
            width: 599px;
        }
    }
    @media (max-width: 600px) {
        .news__wrap-title {
            width: 365px;
        }
    }
}
.cookies {
    padding: 30px;
    background-color: $header-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .cookies__text {
        width: 524px;
        color: $company-dark;
        font-size: 14px;
        .cookies__title {
            font-weight: bold;
        }
    }
    .cookies__btn {
        background-color: $company-dark;
        border: $company-dark;
        width: 112px;
        height: 40px;
        border-radius: 100px;
        margin-left: 45px;
        .cookies__btn-link {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        }
    }
}
@media (max-width: 667px) {
    .cookies {
        display: flex;
        flex-direction: column;
        .cookies__btn {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}
@media (max-width: 543px) {
    .cookies__text {
        width: 365px;
    }
}
.footer {
    padding: 65px;
    background-color: #0b0d17;
    display: flex;
    justify-content: center;
    .footer__wrap {
        display: flex;
        justify-content: space-between;
        width: 1115px;
        .footer__company-data,
        .footer__nav-block {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
            }
        }
        .footer__copyright,
        .footer__rights {
            color: #d9dbe1;
            font-size: 14px;
        }
        .footer__copyright {
            margin-bottom: 8px;
        }
        .footer__logo-link {
            text-transform: uppercase;
            color: #fff;
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 40px;
        }
        .footer__nav-wrap {
            display: flex;
            width: 600px;
            justify-content: space-between;
        }
        .footer__nav-link:not(:last-child) {
            margin-bottom: 12px;
        }
        .footer__nav-title {
            font-weight: 800;
            font-size: 20px;
            color: #fff;
            margin-bottom: 25px;
        }
        .footer__nav-link {
            font-size: 16px;
            color: #d9dbe1;
        }
        .footer__jobs-block {
            margin-right: 200px;
        }
        @media (max-width: 1150px) {
            .footer__nav-wrap .footer__jobs-block {
                margin-right: 0;
            }
        }
        @media (max-width: 1150px) {
            .footer__nav-wrap {
                width: 400px;
            }
        }
    }
    @media (max-width: 1150px) {
        .footer__wrap {
            width: 800px;
        }
    }
    @media (max-width: 826px) {
        .footer__wrap {
            padding: 20px;
            width: 500px;
        }
    }
    @media (max-width: 826px) {
        .footer__wrap {
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: 453px) {
        .footer__wrap {
            width: 375px;
            padding: 0;
        }
        .footer__nav-wrap {
            max-width: 375px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 390px;
        }
    }
}