@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
.promo .promo__form .promo__job, .promo .promo__form .promo__where, .promo .promo__form .promo__distance, .promo .promo__form .promo__button {
  height: 22px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

button {
  cursor: pointer;
}

button a {
  display: inline-block;
  width: 100%;
}

.header {
  height: 72px;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  width: 80%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__list a {
  color: #999999;
}

.header .nav .nav__list .nav__logo {
  width: 124px;
}

.header .nav .nav__link, .header .nav .nav__for a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  height: 100%;
  border-bottom: 2px solid transparent;
  padding: 25px;
}

.header .nav .nav__link:hover, .header .nav .nav__for a:hover {
  border-bottom: 2px solid #2E1AAD;
  color: #2E1AAD;
}

.header .nav .nav__wrap {
  width: 50%;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__wrap .nav__for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav .nav__wrap .nav__for a {
  color: #999999;
}

.header .nav .nav__wrap .nav__for a:hover {
  border-bottom: 2px solid #2E1AAD;
  color: #2E1AAD;
}

.header .nav .nav__wrap .nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav .nav__wrap .nav__btns button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
}

.header .nav .nav__wrap .nav__btns button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}

.header .nav .nav__wrap .nav__btns .nav__login {
  border: 2px solid #2E1AAD;
  background-color: #fff;
  color: #2E1AAD;
}

.header .nav .nav__wrap .nav__btns .nav__login .nav__login-link {
  color: #2E1AAD;
}

.header .nav .nav__wrap .nav__btns .nav__signup {
  background-color: #2E1AAD;
  border: 2px solid #2E1AAD;
}

.header .nav .nav__wrap .nav__btns .nav__signup .nav__signup-link {
  color: #fff;
}

.promo {
  height: 763px;
  background-color: #F5F7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo .promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo .promo__wrap .promo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 546px;
}

.promo .promo__wrap .promo__text .promo__text-title {
  font-weight: 800;
  font-size: 48px;
}

.promo .promo__wrap .promo__text .promo__text-paragraph {
  font-size: 18px;
  color: #999999;
  width: 90%;
}

.promo .promo__form {
  width: 1110px;
  height: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.promo .promo__form .promo__job {
  width: 331px;
}

.promo .promo__form .promo__job::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__job:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__job::-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__job::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__where {
  width: 291px;
}

.promo .promo__form .promo__where::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__where:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__where::-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__where::placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__distance {
  width: 237px;
  background-color: #fff;
  background-image: url(./img/caret.png);
  background-repeat: no-repeat;
  background-position-x: 203px;
  background-position-y: center;
  height: 54px;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999999;
  font-size: 16px;
  font-weight: 800;
}

.promo .promo__form .promo__button {
  width: 115px;
  height: 52px;
  background: #2E1AAD;
}

.promo .promo__form .promo__button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.candidates {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.candidates .candidates__title {
  color: #231F20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

.candidates .candidates__text-groups {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px;
      grid-template-columns: 245px 245px;
  gap: 30px;
  margin-right: 120px;
}

.candidates .candidates__text-groups .candidates__text-group-header {
  font-weight: bold;
  font-size: 18px;
  color: #231F20;
}

.candidates .candidates__text-groups .candidates__text-group-paragraph {
  font-size: 16px;
  color: #999999;
  margin-top: 8px;
}

.candidates .candidates__img {
  width: 400px;
  height: 400px;
}

.employers {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employers .employers__title {
  color: #231F20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

.employers .employers__text-groups {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px;
      grid-template-columns: 245px 245px;
  gap: 30px;
  margin-left: 120px;
}

.employers .employers__text-groups .employers__text-group-header {
  font-weight: bold;
  font-size: 18px;
  color: #231F20;
}

.employers .employers__text-groups .employers__text-group-paragraph {
  font-size: 16px;
  color: #999999;
  margin-top: 8px;
}

.employers .employers__text-btn {
  border-radius: 8px;
  background-color: #2E1AAD;
  width: 130px;
  height: 52px;
  margin-left: 120px;
  margin-top: 30px;
}

.employers .employers__text-btn .employers__text-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.employers .employers__img {
  width: 400px;
  height: 400px;
}

.headhunters {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headhunters .headhunters__title {
  color: #231F20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

.headhunters .headhunters__text-groups {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px;
      grid-template-columns: 245px 245px;
  gap: 30px;
  margin-right: 120px;
}

.headhunters .headhunters__text-groups .headhunters__text-group-header {
  font-weight: bold;
  font-size: 18px;
  color: #231F20;
}

.headhunters .headhunters__text-groups .headhunters__text-group-paragraph {
  font-size: 16px;
  color: #999999;
  margin-top: 8px;
}

.headhunters .headhunters__text-btn {
  border-radius: 8px;
  background-color: #2E1AAD;
  width: 130px;
  height: 52px;
  margin-top: 30px;
}

.headhunters .headhunters__text-btn .headhunters__text-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.headhunters .headhunters__img {
  width: 400px;
  height: 400px;
}

.clients {
  background-color: #ECF8FE;
  height: 846px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .clients__title {
  font-weight: 800;
  font-size: 40px;
  color: #231F20;
  margin-left: -773px;
  margin-bottom: 8px;
}

.clients .clients__paragraph {
  font-size: 18px;
  color: #999999;
  margin-left: -679px;
  margin-bottom: 56px;
}

.clients .clients__wrap-feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[3];
      grid-template-columns: repeat(3, 350px);
  gap: 30px;
}

.clients .clients__wrap-feedback .clients__review {
  background-color: #fff;
  height: 330px;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  padding: 40px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .clients__wrap-feedback .clients__review .clients__review-text {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients .clients__wrap-feedback .clients__review .clients__review-text .clients__img-stars {
  width: 65px;
}

.clients .clients__wrap-feedback .clients__review .clients__review-text .cliens__review-title {
  font-weight: 800;
  font-size: 20px;
  color: #231F20;
}

.clients .clients__wrap-feedback .clients__review .clients__review-text .clients__review-paragraph {
  font-size: 16px;
  color: #231F20;
}

.clients .clients__wrap-feedback .clients__review .clients__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .clients__wrap-feedback .clients__review .clients__author .clients__author-data {
  margin-left: 12px;
}

.clients .clients__wrap-feedback .clients__review .clients__author .clients__author-data .clients__author-name {
  font-size: 16px;
  color: #231F20;
}

.clients .clients__wrap-feedback .clients__review .clients__author .clients__author-data .cliens__author-job {
  font-size: 14px;
  color: #999999;
}

.count {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count .count__title {
  color: #231F20;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 15px;
  margin-left: -865px;
}

.count .count__paragraph {
  font-size: 18px;
  margin-left: -916px;
  color: #999999;
}

.count .count__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count .count__squares .count__square {
  width: 255px;
  height: 266px;
  padding: 30px;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F5F7FA;
  border-radius: 16px;
}

.count .count__squares .count__square:not(:first-child) {
  margin-left: 30px;
}

.count .count__squares .count__square .count__square-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: -30px;
}

.count .count__squares .count__square .count__square-paragraph {
  font-size: 18px;
  color: #999999;
}

.news {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news__wrap-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1115px;
  margin-bottom: 55px;
}

.news .news__wrap-title .news__title {
  font-weight: 800;
  font-size: 40px;
  color: #231F20;
}

.news .news__wrap-title .news__link {
  font-weight: 700px;
  font-size: 14px;
  color: #999999;
  text-decoration: none;
}

.news .news__wrap-title .news__link .news__link-arrow {
  margin-left: 5px;
}

.news .news__ads {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  gap: 30px;
}

.news .news__ads .news__ad a {
  text-decoration: none;
}

.news .news__ads .news__ad a:not(:first-child) {
  margin-top: 20px;
  display: inline-block;
}

.news .news__ads .news__ad .news__ad-title {
  font-weight: 800;
  font-size: 20px;
  color: #231F20;
}

.news .news__ads .news__ad .news__ad-paragraph {
  font-size: 16px;
  color: #999999;
}

.cookies {
  height: 134px;
  background-color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies .cookies__text {
  width: 524px;
  color: #231F20;
  font-size: 14px;
}

.cookies .cookies__text .cookies__title {
  font-weight: bold;
}

.cookies .cookies__btn {
  background-color: #231F20;
  width: 112px;
  height: 40px;
  border-radius: 100px;
  margin-left: 45px;
}

.cookies .cookies__btn .cookies__btn-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.footer {
  height: 360px;
  background-color: #0B0D17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 64px;
}

.footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1115px;
}

.footer .footer__wrap .footer__company-data, .footer .footer__wrap .footer__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__wrap .footer__company-data a, .footer .footer__wrap .footer__nav-block a {
  text-decoration: none;
}

.footer .footer__wrap .footer__company-data p {
  color: #D9DBE1;
  font-size: 14px;
}

.footer .footer__wrap .footer__company-data .footer__copyright {
  margin-bottom: 8px;
}

.footer .footer__wrap .footer__company-data .footer__logo-link {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 40px;
}

.footer .footer__wrap .footer__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrap .footer__nav-wrap a:not(:last-child) {
  margin-bottom: 12px;
}

.footer .footer__wrap .footer__nav-wrap .footer__nav-title {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.footer .footer__wrap .footer__nav-wrap .footer__nav-link {
  font-size: 16px;
  color: #D9DBE1;
}

.footer .footer__wrap .footer__nav-wrap .footer__jobs-block {
  margin-right: 200px;
}
/*# sourceMappingURL=index.css.map */